<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <header class="py-5 bg-image-full" style="background-image: url('/images/banner.jpg');">
      <div class="py-5 container">
        <h1>웹개발 공부 블로그</h1>
        <p class="lead">Web Development Study Blog</p>
      </div>
    </header>
    
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="md-8">

          <h1 class="my-4">
            <small>Recent Posts</small>
          </h1>

          <hr class="mb-4">

          <!-- Blog Posts -->
          <% postsWithUser.forEach( (postWithUser) => { %>
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <a href="#">
                      <img class="img-fluid rounded" src="http://placehold.it/750x300" alt="">
                    </a>
                  </div>
                  <div class="col-lg-8">
                    <h2 class="card-title"><%= postWithUser.title %><%- (postWithUser.commentNum>0)?` <small>(${postWithUser.commentNum})</small>`:`` %></h2>
                    <p class="card-text"><%- postWithUser.content %></p>
                    <a href="/posts/<%= postWithUser.id %>" class="btn btn-primary">Read More &rarr;</a>
                  </div>
                </div>
              </div>
              <div class="card-footer text-muted">
                Posted on <%= postWithUser.create_date %> by <%= postWithUser.nickname %> | Watched <%= postWithUser.views %> times
              </div>
            </div>
          <% }); %>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
