<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <header class="py-5 bg-image-full" style="background-image: url('/images/banner.jpg');">
      <div class="py-5 container">
        <h1>웹개발 공부 블로그</h1>
        <p class="lead">Web Development Study Blog</p>
      </div>
    </header>
    
    <!-- Page Content -->
    <div class="container my-4">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="md-8">

          <h1 class="my-4">
            <small>Recent Posts</small>
          </h1>

          <hr class="mb-4">

          <!-- Blog Posts -->
          <% postsWithUser.forEach( (postWithUser) => { %>
            <div class="row">
              <div class="col-md-9">
                <div class="post-list">
                  <h4><a class="post-title mb-3" href="/posts/<%= postWithUser.id %>"><%= postWithUser.title %></a></h4>
                  <% postWithUser.content = postWithUser.content.replace(/<br>/ig, " ").replace(/&nbsp;/ig, " ").replace(/(<([^>]+)>)/ig,""); %>
                  <p class="post-text mb-4"><%= postWithUser.content %></p>
                  <p class="text-muted">
                    <small>
                      <i class="far fa-clock"></i> <%= postWithUser.create_date.split(' ')[0] %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-user"></i> <%= postWithUser.nickname %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-comments"></i> <%= postWithUser.commentNum %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-eye"></i> <%= postWithUser.views %>                  
                    </small>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <a class="post-title mb-3" href="/posts/<%= postWithUser.id %>">
                  <img src="<%= postWithUser.thumnail?postWithUser.thumnail:'/images/no_detail_img.gif' %>" style="filter:brightness(95%);" width="240px" height="170px" alt>
                </a>
              </div>
            </div>
            
            <hr class="my-4">
          <% }); %>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
