<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        <small><%= (category!==undefined)?category.name:'All Posts' %></small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/posts">Home</a>
        </li>
        <% if (category !== undefined) { %>
          <li class="breadcrumb-item active"><%= category.name %></li>
        <% } %>
      </ol>

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <!-- Blog Posts -->
          <% postsWithUser.forEach( (postWithUser) => { %>
            <div class="card mb-4">
              <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title"><%= postWithUser.title %></h2>
                <p class="card-text"><%- postWithUser.content %></p>
                <a href="/posts/<%= postWithUser.id %>" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on <%= postWithUser.create_date %> by <%= postWithUser.nickname %>
              </div>
            </div>
          <% }); %>

          <div class="row mb-4">

            <!-- Empty -->
            <div class="col-md-2"></div>

            <!-- Pagination -->
            <div class="col-md-8">
              <ul class="pagination justify-content-center mb-4">
                <% 
                const startPage = Math.floor((page-1)/10)*10+1;
                const endPage = Math.min(Math.ceil(page/10)*10, maxPage);
                const previous = Math.max(startPage-1, 1);
                const next = Math.min(endPage+1, maxPage);
                %>
                <li class="page-item<%= (previous===startPage)?` disabled`:`` %>">
                  <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= previous %>">«</a>
                </li>
                <% for (let i=startPage; i<=endPage; i++) { %>
                  <li class="page-item<%= (i===page)?` active`:`` %>">
                    <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <li class="page-item<%= (next===endPage)?` disabled`:`` %>">
                  <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= next %>">»</a>
                </li>
              </ul>
            </div>

            <!-- New Post Button-->
            <div class="col-md-2">
              <% if (isAuthenticated) { %>
                <a href="/posts/new" class="btn btn-primary">New</a>
              <% } %>
            </div>

          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <%- include('../widgets/search') %>
          <%- include('../widgets/category') %>
          <%- include('../widgets/side') %>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
