<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Blog Home One
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/posts">Home</a>
        </li>
        <li class="breadcrumb-item active">Blog Home 1</li>
      </ol>

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <!-- Blog Posts -->
          <% posts.forEach( (post) => { %>
            <div class="card mb-4">
              <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
              <div class="card-body">
                <h2 class="card-title"><%= post.title %></h2>
                <p class="card-text"><%- post.content %></p>
                <a href="/posts/<%= post.id %>" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted on <%= post.create_date %> by <%= post.user_id %>
              </div>
            </div>
          <% }); %>

          <div class="row mb-4">

            <!-- Empty -->
            <div class="col-md-2"></div>

            <!-- Pagination -->
            <div class="col-md-8">
              <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                  <a class="page-link" href="#">&larr; Older</a>
                </li>
                <li class="page-item disabled">
                  <a class="page-link" href="#">Newer &rarr;</a>
                </li>
              </ul>
            </div>

            <!-- New Post Button-->
            <div class="col-md-2">
              <a href="/posts/new" class="btn btn-primary">New</a>
            </div>

          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <%- include('../widgets/search') %>
          <%- include('../widgets/category') %>
          <%- include('../widgets/side') %>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
