<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <!-- Page Content -->
    <div class="container mt-2 mb-5">

      <!-- Page Heading/Breadcrumbs -->
      <div class="row mb-2">
        <div class="col-md-8 mt-3">
          <h1>
            <small><%= (category!==undefined)?category.name:'All Posts' %></small>
          </h1>
        </div>
        <div class="col-md-4 mt-4">
          <%- include('./partials/search') %>
        </div>
      </div>

      <ol class="breadcrumb mb-5">
        <li class="breadcrumb-item">
          <a href="/posts">Home</a>
        </li>
        <% if (category !== undefined) { %>
          <li class="breadcrumb-item active"><%= category.name %></li>
        <% } %>
      </ol>

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

          <!-- Blog Posts -->
          <% postsWithUser.forEach( (postWithUser) => { %>
            <div class="row">
              <div class="col-md-9">
                <div class="post-list">
                  <h4><a class="post-title mb-3" href="/posts/<%= postWithUser.id %>"><%= postWithUser.title %></a></h4>
                  <% postWithUser.content = postWithUser.content.replace(/<br>/ig, " ").replace(/&nbsp;/ig, " ").replace(/(<([^>]+)>)/ig,""); %>
                  <p class="post-text mb-4"><%= postWithUser.content %></p>
                  <p class="text-muted">
                    <small>
                      <i class="far fa-clock"></i> <%= postWithUser.create_date.split(' ')[0] %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-user"></i> <%= postWithUser.nickname %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-comments"></i> <%= postWithUser.commentNum %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-eye"></i> <%= postWithUser.views %>                  
                    </small>
                  </p>
                </div>
              </div>
              <div class="col-md-3">
                <a class="post-title mb-3" href="/posts/<%= postWithUser.id %>">
                  <img src="<%= postWithUser.thumnail?postWithUser.thumnail:'/images/no_detail_img.gif' %>" style="filter:brightness(95%);" width="240px" height="170px" alt>
                </a>
              </div>
            </div>
            
            <hr class="my-4">
          <% }); %>

          <div class="row my-4">

            <!-- Empty -->
            <div class="col-md-1"></div>

            <!-- Pagination -->
            <div class="col-md-10">
              <ul class="pagination justify-content-center mb-4">
                <% 
                const startPage = Math.floor((page-1)/10)*10+1;
                const endPage = Math.min(Math.ceil(page/10)*10, maxPage);
                const previous = Math.max(startPage-1, 1);
                const next = Math.min(endPage+1, maxPage);
                %>
                <li class="page-item<%= (previous===startPage)?` disabled`:`` %>">
                  <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= previous %>">«</a>
                </li>
                <% for (let i=startPage; i<=endPage; i++) { %>
                  <li class="page-item<%= (i===page)?` active`:`` %>">
                    <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= i %>"><%= i %></a>
                  </li>
                <% } %>
                <li class="page-item<%= (next===endPage)?` disabled`:`` %>">
                  <a class="page-link" href="/posts<%= (category!==undefined)?`/category/${category.id}`:`/` %>?<%= search?`search=${search}&`:`` %>page=<%= next %>">»</a>
                </li>
              </ul>
            </div>

            <!-- New Post Button-->
            <div class="col-md-1">
              <% if (isAuthenticated) { %>
                <a href="/posts/new" class="btn btn-primary">New</a>
              <% } %>
            </div>

          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
