<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Create Form -->
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3 my-4">New Post</h4>

          <hr class="mb-4">

          <form class="needs-validation" novalidate method="post" action="/posts">

            <div class="row">
              <div class="col-md-9 mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control<%= (inputErrors)&&(inputErrors.title)?' is-invalid':'' %>" id="title" name="title"<%= (inputDatas)&&(inputDatas.title)?` value=${inputDatas.title}`:' autofocus' %>>
                <div class="invalid-feedback">
                  <%= (inputErrors)&&(inputErrors.title)?inputErrors.title:'' %>
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="category">Category</label>
                <select class="custom-select d-block w-100<%= (inputErrors)&&(inputErrors.category)?' is-invalid':'' %>" id="category" name="category_id">
                  <option value="none" hidden<%= (inputDatas)&&(inputDatas.category_id==`none`)?' selected':'' %>>카테고리를 선택하세요</option>
                  <option value="1"<%= (inputDatas)&&(inputDatas.category_id==1)?' selected':'' %>>category1</option>
                  <option value="2"<%= (inputDatas)&&(inputDatas.category_id==2)?' selected':'' %>>category2</option>
                  <option value="3"<%= (inputDatas)&&(inputDatas.category_id==3)?' selected':'' %>>category3</option>
                </select>
                <div class="invalid-feedback">
                  <%= (inputErrors)&&(inputErrors.category)?inputErrors.category:'' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" name="content" rows="20" placeholder=""><%= (inputDatas)&&(inputDatas.content)?inputDatas.content:'' %></textarea>
              </div>
            </div>

            <div class="row">
              <button class="btn btn-primary btn-lg btn-block mb-4" type="submit">Submit</button>
            </div>
            
          </form>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
