<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Ohoon's Blog</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
  <!-- Page Content -->
  <div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">
            
            <!-- Post Head -->
            <div class="post-head mb-4">

                <!-- Title -->
                <h3 class="post-title my-5"><%= postWithUser.title %></h3>

                <!-- Date/Time & Author -->
                <p class="text-muted">
                    <small>
                      <i class="far fa-clock"></i> <%= postWithUser.create_date.split(' ')[0] %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-user"></i> <%= postWithUser.nickname %>&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fas fa-eye"></i> <%= postWithUser.views %>                  
                    </small>
                </p>

            </div>

            <hr>

            <!-- Post Body -->
            <div class="my-5">

                <!-- Post Content -->
                <%- postWithUser.content %>

            </div>

            <% if (isAuthenticated && postWithUser.user_id && currentUser.id == postWithUser.user_id) { %>
                <div class="row">
                    <div class="col-lg-12">
                            <form action="/posts/<%= postWithUser.id %>?_method=delete" method="post">
                                <a href="javascript:void(0)" onClick="confirm('Do you want to delete this?')?this.parentElement.submit():null;" class="btn btn-primary float-right">Delete</a>
                            </form>
                            <a href="/posts/<%= postWithUser.id %>/edit" class="btn btn-primary float-right mx-1">Edit</a>
                    </div>
                </div>
            <% } %>

            <h5 class="mt-5">Comments<%- (commentNum>0)?` <small class="text-muted">(${commentNum})</small>`:`` %></h5>

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form action="/comments?postId=<%= postWithUser.id %>" method="post">
                        <div class="form-group">
                            <textarea class="form-control<%= (inputErrors)&&(inputErrors.comment)&&(!inputErrors.parent)?' is-invalid':'' %>" id="content" name="content" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            <!-- Comments Content -->
            <% commentsWithUser.forEach( (commentWithUser) => { %>
                <%- include('./partials/comment-show', {
                    postWithUser: postWithUser,
                    commentWithUser: commentWithUser
                }); %>
                <hr>
            <% }); %>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
